.containerButtonPlayer {
  font-size: 1em;
  width: 8.125rem;
  height: 3.375rem;
  background: none;
  border: none;
  border-radius: 10px;
}
.oval2 {
  background: #a8bfc9;
}
.shape2 {
  width: 100%;
}

/* .active_o {
  background: none;
}

.active_o svg path {
  fill: #a8bfc9;
}

.active_x {
  background: #a8bfc9;
}

.active_x svg path {
  fill: #1a2a33;
} */

.disabledShape {
  width: 100%;
}
.activeOval {
  width: 100%;
}

.disabledOval {
  width: 100%;
}

.activeShape {
  width: 100%;
}
